name: Update Data

permissions:
  contents: write

on:
  schedule:
    - cron: "00 14 7 * *"    #runs on the seventh at 1400 UTC or 10 Eastern

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner.
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirementsGithub.txt
      - name: execute py script # run file
        run: |
          python blsData.py
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Update Data Files"
